<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SISAS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SISAS.My.MySettings.SISASConnection" connectionString="Dsn=sisas"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SISAS.My.MySettings>
            <setting name="database_name" serializeAs="String">
                <value>sisas</value>
            </setting>
            <setting name="db_user" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="db_password" serializeAs="String">
                <value>banindo</value>
            </setting>
            <setting name="db_port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="db_ip" serializeAs="String">
                <value>localhost</value>
            </setting>
        </SISAS.My.MySettings>
    </userSettings>
</configuration>